<!-- <div id="map" style="position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 100500"></div> -->
<ul>
  <%= for machine <- @machines do %>
    <li><%= link machine.name, to: "/machines/#{machine.id}" %></li>
  <% end %>
</ul>
