<!-- <div id="map" style="position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 100500"></div> -->
<ul>
  <%= for route <- @routes do %>
    <li><%= link route.shortname, to: "/routes/#{route.id}" %></li>
  <% end %>
</ul>
