<div
  id="map-route"
  style="position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 100500"
    data-route-id="<%= @route.id %>"
    data-route-marsh="<%= @route.marsh %>">
</div>
<script>
  document.title = "<%= @route.marsh %>";
</script>
